<div class="row">
	<div class="col col-md-4">
		<h3>WHAT WE DO</h3>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col col-md-8">
		<p>Ferns N Petals (FNP) having pioneered the concept of social expression (Flowers and Bouquets) in the country today and has become a name synonymous with love, emotions and celebrations. Started with a single store in 1994 in Delhi, by the enterprising Mr.VikaasGutgutia, the brand today boasts of 194 outlets in 74 cities nationwide and delivers across 155 countries worldwide. Having pioneered the concept of branded chain of flowers, FNP has grown with the spread of modern culture, increasing urbanization and improving standard of living. With the boom in Indian online retail industry and the changing lifestyle of the people in bigger cities and smaller towns, FNP is consciously foraying into small towns and every nook and corner of the country to mark its presence. </p>

		<p>Today, Ferns N Petals Group encompasses of FNP Retail & Franchising, FNP E-commerce, FNP Weddings & Events- India and Dubai, FNP Floral Touch, FNP Gardens, FNP Select, The Flagship Store by Ferns N Petals, WDH (Wedding Design Hub) and latest edition to the kitty is GBM (giftsbymeeta.com). It has become a one stop shop for everybody’s floral needs, be it buying flowers for occasions, floral décor for weddings, parties or just delivering fresh flowers to corporate not only in India but across the globe. It is the pioneer in the organized flower retail industry. </p>
	</div>

</div>