<% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login">
  	<%= link_to spree.login_path do %>
  		<i class='fa fa-sign-in'></i> <%= Spree.t(:login) %>
  	<% end %>
  </li>
  
<% end %>
